@page "/animal/create"
@page "/animal/update/{id}"
@inject ISpeciesService SpeciesService
@inject IAnimalService AnimalService

@if (showErrorMessage)
{
    <div class="d-flex flex-column align-items-start">
        <div class="alert alert-danger mb-3 p-2 text-center">
            @ErrorMessagesConstants.ValidationFailed
        </div>
        <button class="btn btn-primary align-self-start px-4" onclick="location.reload()">
            <span class="d-flex align-items-center justify-content-center h-100">Odśwież</span>
        </button>
    </div>
}
else if (internalError)
{
    <div class="d-flex flex-column align-items-start">
        <div class="alert alert-danger mb-3 p-2 text-center">
            @ErrorMessagesConstants.InternalError
        </div>
        <button class="btn btn-primary align-self-start px-4" onclick="location.reload()">
            <span class="d-flex align-items-center justify-content-center h-100">Odśwież</span>
        </button>
    </div>
}
else if (showSuccessMessage)
{
    
        @if(newAnimal.Id > 0)
        {
            <div class="alert alert-success" role="alert">
            Nowe zwierzę do adopcji zostało dodane!
            </div>
        }
        else
        {
        <div class="alert alert-success" role="alert">
            Zaktualizowano informacje o @newAnimal.Name
        </div>
        }
}
<div class="container">
    <div class="card">
        <div class="card-header">
            @if (string.IsNullOrWhiteSpace(@Id))
            {
                <h1 class="text-center display-4">Dodaj nowe zwierzę</h1>
            }
            else
            {
                <h1 class="text-center display-4">Aktualizuj informacje</h1>
            }
        </div>
        <div class="card-body">
            <form class="form" @onsubmit="AddAnimal">
                <div class="form-group">
                    <label for="name">Imię:</label>
                    <input type="text" class="form-control" id="name" @bind="@newAnimal.Name" required>
                    @if (string.IsNullOrWhiteSpace(newAnimal.Name))
                    {
                        <div class="invalid-feedback">
                            @ErrorMessagesConstants.EmptyField
                        </div>
                        formValid = false;
                    }
                    else
                    {
                        formValid = true;
                    }
                </div>
                <div class="form-group">
                    <label for="gender">Płeć:</label>
                    <select class="form-control" id="gender" @bind="@newAnimal.Gender">
                        @foreach (var gender in AnimalService.Genders)
                        {
                            <option value="@gender">@gender</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="shortDescription">Krótki opis:</label>
                    <input type="text" class="form-control" id="shortDescription" @bind="@newAnimal.ShortDescription">
                    @if (string.IsNullOrWhiteSpace(newAnimal.ShortDescription))
                    {
                        <div class="invalid-feedback">
                            @ErrorMessagesConstants.EmptyField
                        </div>
                        formValid = false;
                    }
                    else
                    {
                        formValid = true;
                    }
                </div>
                <div class="form-group">
                    <label for="description">Opis:</label>
                    <textarea class="form-control" id="description" @bind="@newAnimal.Description"></textarea>
                    @if (string.IsNullOrWhiteSpace(newAnimal.Description))
                    {
                        <div class="invalid-feedback">
                            @ErrorMessagesConstants.EmptyField
                        </div>
                        formValid = false;
                    }
                    else
                    {
                        formValid = true;
                    }
                </div>
                <div class="form-group">
                    <label for="healthStatus">Stan zdrowia:</label>
                    <select class="form-control" id="healthStatus" @bind="@newAnimal.HealthStatus">
                        @foreach (var status in AnimalService.HealthStatuses)
                        {
                            <option value="@status">@status</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="city">Miasto:</label>
                    <input type="text" class="form-control" id="city" @bind="@newAnimal.City">
                    @if (string.IsNullOrWhiteSpace(newAnimal.City))
                    {
                        <div class="invalid-feedback">
                            @ErrorMessagesConstants.EmptyField
                        </div>
                        formValid = false;
                    }
                    else
                    {
                        formValid = true;
                    }
                </div>
                <div class="form-group">
                    <label for="province">Województwo:</label>
                    <input type="text" class="form-control" id="province" @bind="@newAnimal.Province">
                    @if (string.IsNullOrWhiteSpace(newAnimal.Province))
                    {
                        <div class="invalid-feedback">
                            @ErrorMessagesConstants.EmptyField
                        </div>
                        formValid = false;
                    }
                    else
                    {
                        formValid = true;
                    }
                </div>
                <div class="form-group">
                    <label for="imageUrl">Url zdjęcia:</label>
                    <input type="text" class="form-control" id="imageUrl" @bind="@newAnimal.Image" required>
                    <img src="@newAnimal.Image" alt="Podgląd zdjęcia" style="max-width:300px; max-height:300px;" onerror="this.onerror=null;this.src='https://via.placeholder.com/200x200?text=Placeholder';">
                    @if (string.IsNullOrWhiteSpace(newAnimal.Image))
                    {
                        <div class="invalid-feedback">
                            @ErrorMessagesConstants.EmptyField
                        </div>
                        formValid = false;
                    }
                    else
                    {
                        formValid = true;
                    }
                </div>
                <div class="form-group">
                    <label for="birthdate">Data urodzenia:</label>
                    <input type="date" class="form-control" id="birthdate" @bind="@newAnimal.DateOfBirth" max="@DateTime.Today.ToString("yyyy-MM-dd")">
                </div>
                <div class="form-group">
                    <label for="birthdate">Data adopcji:</label>
                    <input type="date" class="form-control" id="birthdate" @bind="@newAnimal.AdoptionDate" max="@DateTime.Today.ToString("yyyy-MM-dd")">
                </div>
                <div class="form-group">
                    <label for="species">Gatunek:</label>
                    <select class="form-control" id="species" @bind="@newAnimal.SpeciesId">
                        @foreach (var species in SpeciesService.Species)
                        {
                            <option value="@species.Id">@species.Name</option>
                        }
                    </select>
                    @if (newAnimal.SpeciesId == 0)
                    {
                        <div class="invalid-feedback">
                            @ErrorMessagesConstants.EmptyField
                        </div>
                        formValid = false;
                    }
                    else
                    {
                        formValid = true;
                    }
                </div>
                <div>
                    <label>
                        <input type="radio" name="adoption-status" checked="@(!newAnimal.IsAdopted)" @onchange="@(e => newAnimal.IsAdopted = false)">
                        Do adopcji
                    </label>
                    <label>
                        <input type="radio" name="adoption-status" checked="@newAnimal.IsAdopted" @onchange="@(e => newAnimal.IsAdopted = true)">
                        Adoptowany
                    </label>
                </div>
                @if (string.IsNullOrWhiteSpace(@Id))
                {
                    <button type="submit" class="btn btn-lg btn-success" disabled="@(!formValid)">
                        <i class="fas fa-plus mr-2"></i> Dodaj
                    </button>
                }
                else
                {
                    <button type="submit" class="btn btn-lg btn-success" disabled="@(!formValid)">
                        <i class="fas fa-plus mr-2"></i> Aktualizuj
                    </button>
                }
            </form>
        </div>
    </div>
</div>


@code {
    public Animal newAnimal { get; set; } = new Animal();
    private bool formValid = true;
    private bool showErrorMessage = false;
    private bool showSuccessMessage = false;
    private bool internalError = false;

    [Inject]
    public NavigationManager Navigation { get; set; }

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await SpeciesService.LoadSpecies();

        if(string.IsNullOrWhiteSpace(Id))
        {
            newAnimal = new Animal();
        }
        else
        {
            newAnimal = await AnimalService.GetAnimalAsync(Int32.Parse(Id));
        }
    }

    private async Task AddAnimal()
    {
        if (formValid)
        {
            StateHasChanged();
            var result = await AnimalService.AddNewAnimal(newAnimal);

            if (result != null)
            {
                showErrorMessage = false;
                showSuccessMessage = true;
                StateHasChanged();
                await Task.Delay(3000);
                Navigation.NavigateTo("/");
            }
            else if (result == null)
            {
                showErrorMessage = true;
                showSuccessMessage = false;
                StateHasChanged();
                await Task.Delay(3000);
                Navigation.NavigateTo("/");
            }
        }
    }
}
