@page "/animal/{id:int}/adoptionForm"
@inject IAnimalService AnimalService
@inject IAdoptionFormService AdoptionFormService
@inject IToastService ToastService

@if (_animal != null)
{
    <div class="animal-details shadow p-1 mb-3 bg-white rounded text-center">
        <h2 class="animal-name">Formularz adopcyjny @_animal.Name</h2>
    </div>
    <img class="animal-image" src="@_animal.Image" alt="@_animal.Name" />
}
else
{
    <div class="alert alert-danger" role="alert">
        Wczytywanie formularza...
    </div>
}

@if (_showErrorMessage)
{
    <div class="d-flex flex-column align-items-start">
        <div class="alert alert-danger mb-3 p-2 text-center">
            @_adoptionForm.ErrorMessage
        </div>
        <button class="btn btn-primary align-self-start px-4" onclick="location.reload()">
            <span class="d-flex align-items-center justify-content-center h-100">Odśwież</span>
        </button>
    </div>
}
else if (internalError)
{
    <div class="d-flex flex-column align-items-start">
        <div class="alert alert-danger mb-3 p-2 text-center">
            @ErrorMessagesConstants.InternalError
        </div>
        <button class="btn btn-primary align-self-start px-4" onclick="location.reload()">
            <span class="d-flex align-items-center justify-content-center h-100">Odśwież</span>
        </button>
    </div>
}
else if (_isSubmitted)
{
    <div class="alert alert-success" role="alert">
        Formularz został wysłany!
    </div>
}
else if (_isSubmitting)
{
     <div class="alert alert-info" role="alert">
        Wysyłanie formularza...
    </div>
}
else
{
    <div class="container">
    <div class="form-container">
        <form>
            <div class="form-group">
                <label for="Imię">Imię:</label>
                <input type="text" class="form-control" id="Imię" name="Imię" @bind="@_adoptionForm.FirstName">
                @if (string.IsNullOrWhiteSpace(_adoptionForm.FirstName))
                {
                    <div class="invalid-feedback">
                        @ErrorMessagesConstants.EmptyField
                    </div>
                }
            </div>
            <div class="form-group">
                <label for="Nazwisko">Nazwisko:</label>
                <input type="text" class="form-control" id="Nazwisko" name="Nazwisko" @bind="@_adoptionForm.LastName">
                @if (string.IsNullOrWhiteSpace(_adoptionForm.LastName))
                {
                    <div class="invalid-feedback">
                        @ErrorMessagesConstants.EmptyField
                    </div>
                }
            </div>
            <div class="form-group">
                <label for="Wiek">Wiek:</label>
                <input type="number" class="form-control" id="Wiek" name="Wiek" @bind="@_adoptionForm.Age">
                @if (string.IsNullOrWhiteSpace(_adoptionForm.Age))
                {
                    <div class="invalid-feedback">
                        @ErrorMessagesConstants.AgeFormInfo
                    </div>
                }
            </div>
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="email" class="form-control" id="Email" name="Email" @bind="@_adoptionForm.Email">
                @if (string.IsNullOrWhiteSpace(_adoptionForm.Email))
                {
                    <div class="invalid-feedback">
                        @ErrorMessagesConstants.EmailFormInfo
                    </div>
                }
            </div>
            <div class="form-group">
                <label for="NumerTelefonu">Numer telefonu:</label>
                <input type="tel" class="form-control" id="NumerTelefonu" name="NumerTelefonu" @bind="@_adoptionForm.PhoneNumber">
                @if (string.IsNullOrWhiteSpace(_adoptionForm.PhoneNumber))
                {
                    <div class="invalid-feedback">
                        @ErrorMessagesConstants.PhoneNumberFormInfo
                    </div>
                }
            </div>
            <div class="form-group">
                <label for="OMnie">O mnie:</label>
                <textarea class="form-control" id="OMnie" name="OMnie" rows="3" @bind="@_adoptionForm.AboutMe"></textarea>
                @if (string.IsNullOrWhiteSpace(_adoptionForm.AboutMe))
                {
                    <div class="invalid-feedback">
                        @ErrorMessagesConstants.EmptyField
                    </div>
                }
            </div>
            <div class="ml-auto">
                @if (string.IsNullOrWhiteSpace(_adoptionForm.AboutMe)
                     || string.IsNullOrWhiteSpace(_adoptionForm.PhoneNumber)
                     || string.IsNullOrWhiteSpace(_adoptionForm.Email)
                     || string.IsNullOrWhiteSpace(_adoptionForm.Age)
                     || string.IsNullOrWhiteSpace(_adoptionForm.LastName)
                     || string.IsNullOrWhiteSpace(_adoptionForm.FirstName))
                {
                    _formValid = false;
                }
                else
                {
                    _formValid = true;
                }
                <div class="alert alert-danger d-none" @bind:hidden="@_showSuccessMessage" id="error-message">
                    @ErrorMessagesConstants.ValidationFailed
                </div>
                <div class="alert alert-success d-none" @bind:hidden="@_showErrorMessage" id="success-message">
                    Formularz został wysłany
                </div>
                <button type="submit" class="btn btn-primary adoption-submit-btn" disabled="@(!_formValid)" @onclick="HandleSubmit">Zatwierdź</button>
            </div>
        </form>
    </div>
    </div>
}

@code {
    private UserAdoptionForm _adoptionForm = new UserAdoptionForm();
    private Animal? _animal = null;
    private bool _formValid = true;
    private bool _showErrorMessage = false;
    private bool _showSuccessMessage = false;
    private readonly bool internalError = false;
    private bool _isSubmitting = false;
    private bool _isSubmitted = false;

    [Parameter]
    public int Id { get; set; }

    [Inject]
    public NavigationManager Navigation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _animal = await AnimalService.GetAnimalAsync(Id);
        if (string.IsNullOrWhiteSpace(_animal?.ErrorMessage))
        {
            _adoptionForm = new UserAdoptionForm();
            _adoptionForm.AnimalId = Id;
        }
        else
        {
            StateHasChanged();
            ToastService.ShowError(_animal.ErrorMessage);
            await Task.Delay(3000);
            Navigation.NavigateTo("/");
        }
    }

    private async Task HandleSubmit()
    {
        _isSubmitting = true;
        StateHasChanged();

        try
        {
            _isSubmitting = true;
            StateHasChanged();

            var result = await AdoptionFormService.AddNewForm(_adoptionForm);

            if(string.IsNullOrWhiteSpace(result?.ErrorMessage))
            {
                _isSubmitting = false;
                _isSubmitted = true;
                _showErrorMessage = false;
                _showSuccessMessage = true;
                StateHasChanged();
                ToastService.ShowSuccess("Pomyślnie wysłano formularz adopcyjny");
                await Task.Delay(1000);
                Navigation.NavigateTo("/");
            }
            else if (!string.IsNullOrWhiteSpace(result.ErrorMessage))
            {
                
                _showErrorMessage = true;
                _showSuccessMessage = false;
                StateHasChanged();
                ToastService.ShowError(result.ErrorMessage);
                await Task.Delay(3000);
                Navigation.NavigateTo("/");
            }
        }
        catch (Exception ex)
        {
            _isSubmitting = false;
            _showErrorMessage = true;
            StateHasChanged();
            ToastService.ShowError(ex.Message);
            await Task.Delay(2000);
            Navigation.NavigateTo(Navigation.Uri, true);
        }
    }
}