@page "/animal/{id:int}/adoptionForm"
@inject IAnimalService AnimalService
@inject IAdoptionFormService AdoptionFormService
@using System.ComponentModel.DataAnnotations
@using System.Net.Http.Json
@using System.Net;

@if (animal != null)
{
    <div class="animal-details">
        <h2 class="animal-name">Formularz adopcyjny @animal.Name</h2>
        <img class="animal-image" src="@animal.Image" alt="@animal.Name" />
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        Wczytywanie formularza...
    </div>
}

@if (showErrorMessage)
{
    <div class="d-flex flex-column align-items-start">
        <div class="alert alert-danger mb-3 p-2 text-center">
            Coś poszło nie tak, spróbuj ponownie.
        </div>
        <button class="btn btn-primary align-self-start px-4" onclick="location.reload()">
            <span class="d-flex align-items-center justify-content-center h-100">Odśwież</span>
        </button>
    </div>
}
else if (IsSubmitted)
{
    <div class="alert alert-success" role="alert">
        Formularz został wysłany!
    </div>
}
else if (IsSubmitting)
{
     <div class="alert alert-info" role="alert">
        Wysyłanie formularza...
    </div>
}
else
{
    <form>
        <div class="form-group">
            <label for="Imię">Imię:</label>
            <input type="text" class="form-control" id="Imię" name="Imię" @bind="@adoptionForm.FirstName">
            @if (string.IsNullOrWhiteSpace(adoptionForm.FirstName))
            {
                <div class="invalid-feedback">
                    To pole nie może być puste.
                </div>
                formValid = false;
            }
            else
            {
                formValid = true;
            }
        </div>
        <div class="form-group">
            <label for="Nazwisko">Nazwisko:</label>
            <input type="text" class="form-control" id="Nazwisko" name="Nazwisko" @bind="@adoptionForm.LastName">
            @if (string.IsNullOrWhiteSpace(adoptionForm.LastName))
            {
                <div class="invalid-feedback">
                    To pole nie może być puste.
                </div>
                formValid = false;
            }
            else
            {
                formValid = true;
            }
        </div>
        <div class="form-group">
            <label for="Wiek">Wiek:</label>
            <input type="number" class="form-control" id="Wiek" name="Wiek" @bind="@adoptionForm.Age">
            @if (string.IsNullOrWhiteSpace(adoptionForm.Age))
            {
                <div class="invalid-feedback">
                    To pole nie może być puste.
                </div>
                formValid = false;
            }
            else
            {
                formValid = true;
            }
        </div>
        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="email" class="form-control" id="Email" name="Email" @bind="@adoptionForm.Email">
            @if (string.IsNullOrWhiteSpace(adoptionForm.Email))
            {
                <div class="invalid-feedback">
                    To pole nie może być puste.
                </div>
                formValid = false;
            }
            else
            {
                formValid = true;
            }
        </div>
        <div class="form-group">
            <label for="NumerTelefonu">Numer telefonu:</label>
            <input type="tel" class="form-control" id="NumerTelefonu" name="NumerTelefonu" @bind="@adoptionForm.PhoneNumber">
            @if (string.IsNullOrWhiteSpace(adoptionForm.PhoneNumber))
            {
                <div class="invalid-feedback">
                    To pole nie może być puste.
                </div>
                formValid = false;
            }
            else
            {
                formValid = true;
            }
        </div>
        <div class="form-group">
            <label for="OMnie">O mnie:</label>
            <textarea class="form-control" id="OMnie" name="OMnie" rows="3" @bind="@adoptionForm.AboutMe"></textarea>
            @if (string.IsNullOrWhiteSpace(adoptionForm.AboutMe))
            {
                <div class="invalid-feedback">
                    To pole nie może być puste.
                </div>
                formValid = false;
            }
            else
            {
                formValid = true;
            }
        </div>
        <div class="ml-auto">
            <div class="alert alert-danger d-none" @bind:hidden="@showSuccessMessage" id="error-message">
                Coś poszło nie tak, spróbuj ponownie
            </div>
            <div class="alert alert-success d-none" @bind:hidden="@showErrorMessage" id="success-message">
                Formularz został wysłany
            </div>
            <button type="submit" class="btn btn-primary adoption-submit-btn" disabled="@(formValid)" @onclick="HandleSubmit">Zatwierdź</button>
        </div>
    </form>
}

@code {
    private UserAdoptionForm adoptionForm = new UserAdoptionForm();
    private Animal animal = null;
    private bool formValid = true;
    private bool showErrorMessage = false;
    private bool showSuccessMessage = false;

    [Parameter]
    public int Id { get; set; }

    [Inject]
    public NavigationManager Navigation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        animal = await AnimalService.GetAnimalAsync(Id);
        if (animal != null)
        {
            adoptionForm = new UserAdoptionForm();
            adoptionForm.AnimalId = Id;
        }
        else
        {
            //handle error
        }
    }

    private bool IsSubmitting = false;
    private bool IsSubmitted = false;

    private async Task HandleSubmit()
    {
        IsSubmitting = true;
        StateHasChanged();

        try
        {
            IsSubmitting = true;
            StateHasChanged();

            // Tu możesz dodać kod zapisujący dane formularza w bazie danych
            var result = await AdoptionFormService.AddNewForm(adoptionForm);

            if(result != null)
            {
                IsSubmitting = false;
                IsSubmitted = true;
                showErrorMessage = false;
                showSuccessMessage = true;
                StateHasChanged();
                await Task.Delay(3000);
                // przekierowanie na stronę zwierzaka
                Navigation.NavigateTo($"/");
            }
            else
            {
                IsSubmitting = false;
                showErrorMessage = true;
                showSuccessMessage = false;
                StateHasChanged();
                await Task.Delay(3000);
                return;
            }
        }
        catch (Exception)
        {
            showErrorMessage = true;
            showSuccessMessage = false;
            StateHasChanged();
            await Task.Delay(3000);
            return;
        }
    }
}